body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

#startButton{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    background-color: lightblue;
    width: 100px;
   
    transition: transform 0.3s ease;
    
}

#startButton:hover{
    transform: scale(1.2);
}

.conditions{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#timer{
    
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 140px;
}

#min_score{
    
    font-weight: bold;  
    margin-right: 140px;
}
#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;

    
}

#board div {
    width: 180px; 
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
    
}

#board div img {
     
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
